#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-6 H3 {
  text-align: center;
}
#header3-6 P {
  text-align: center;
}
#msg-box1-a .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-a .mbr-article {
  color: #fff;
}
